@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
    --main-color: #55433b;
    --accent-color: #e04800;
    --light-color: #bda79e;
}

body {
    display: grid;
    grid: auto 4fr / 1fr 5fr;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

li>a {
    color: white;
}

h3>a, h4>a {
    color: black;
}

img, button, .userName {
    cursor: pointer;
}

.subtext, .userTag {
    color: grey;
}

/* SIDEBAR */

#sidebar {
    background-color: var(--main-color);
    grid-row: 1 /3;
    color: white;
    display: grid;
    grid-template-rows: 6rem 1fr 2fr;
    padding: 20px;
    box-shadow: 1px 0 4px 1px rgba(0,0,0,0.3);
}

#logo {
    display: grid;
    gap: 20px;
    grid: 48px / 48px 1fr;
    align-items: center;
}

h1 {
    
    font-size: 23px;
}

ul {
    list-style: none;
    display: grid;
    align-content: start;
    gap: 20px;
}

li {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    font-weight: bold;
}

/*HEADER*/

#header {
    display: grid;
    align-items: center;
    grid: 2rem 8rem / 2fr 1fr;
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 1px 4px 2px rgba(0,0,0,0.3); 
    background-color: black;
    color: white;
}

#search {
    display: flex;
    gap: 5px;
}

#searchBar {
    flex: 1;
    border-radius: 12px;
    border: none;
    background-color: var(--light-color);
}

#admin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

#name {
    justify-self: start;
    display: grid;
    grid: 1fr 1fr / 1fr 3fr;
    column-gap: 10px;
    row-gap: 3px;
}

#hi {
    align-self: end;
}

#user {
    align-self: start;
    font-size: 24px;
}

.pfp {
    height: 40px;
    grid-area: 1 / 1 / 3 / 2;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-content: center;
    gap: 10px;
}

#buttons>button {
    border: none;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}

#buttons>button:active {
    height: 39px;
    width: 97.5px;
}

#mainPfp {
    height: 70px;
    grid-area: 1 / 1 / 3 / 2;
}

/*MAIN*/

#main {
    background-color: var(--light-color);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid: 1.5fr 1fr / 3fr 1fr;
    padding: 20px;
}

#projects {
    display: grid;
    padding: 10px;
    grid-template-rows: 50px 1fr;
}

#cardContain {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project, .heading {
    grid-area: 1 / 1 / 2 / 3;
    align-self: end;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    border-left: 10px solid var(--accent-color);
}

.projectIcons {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

#projects {
    grid-area: 1 / 1 / 3 / 2;
}

#announceContain, #trendContain {
    background-color: white;
    display: grid;
    border-radius: 10px;
    padding: 30px;
}

#announceContain {
    align-content: space-around;
    gap: 30px;
    grid-template-rows: 7rem 7rem 7rem;
}

#trendContain {
    place-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#announcements {
    display: grid;
    padding: 10px;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

#announceContain>div:nth-child(2),
#announceContain>div:nth-child(1) {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.announce{
    display: grid;
    gap: 5px;
}

.announce>p {
    overflow: hidden;
}

.heading {
    align-self: center;
}

#trending {
    display: grid;
    padding: 10px;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.social {
    display: grid;
    row-gap: 2px;
    column-gap: 20px;
    grid: 20px 20px / 40px 1fr;
}

.userName {
    align-self: end;
}

.userTag {
    align-self: start;
}